/*
    CSS styles - &copy; 2023 - JL
*/

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Courgette&family=Inter&family=Lora&family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Pacifico&family=Roboto&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

header, footer {
    height: 64px;
    background-color: darkgrey;
    color: white;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#main {
    margin: 0;
    padding: 0;
}

#mylogo {
    width: 32px;
}

#up {
    position: fixed;
    right:8px;
    top: 50vh;
}

.image-menu {
    height:48px;
}

