
@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto|Source+Code+Pro&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    background-color: white;
    color: black}

#language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96vw;
    height: 48px;
    padding: 2px;
    font-size: 24px;
}

div a {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px #FFA500;
    text-decoration: none;
}
div a:hover {
    color: #FFA500;
    /*text-shadow: 1px 1px black, 1px -1px lightgray, -1px 1px #FFA500, -1px -1px lightgray;*/
}


#logo {
    position: absolute;
    left: 1vw;
    top: 4vw;
    width: 8vw;
    height: 8vw;
    z-index: 50;
}

.mySlides {
    width: 100vw;
    margin: 32 auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 60%, 0% 65%, 100% 85%, 100% 90%, 0% 70%, 0% 75%, 100% 95%, 100% 100%, 0% 100%);
}

nav {
    width: 98vw;
    margin: 0 auto;
    display: inline;
    text-align: center;
}

nav div {
    display: inline;
    width: 96vw;
    margin: 0 auto;
}


#choose-language{
    position: absolute;
    right:32px;
}

#contenu {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

#home, #teaching, #research, #contact {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

p.images {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transform: rotate(-2.7deg);
}

p.images.img {
    max-width: 30vw;
}

img.survol {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all 0.5s ease-in-out;
}
img.survol:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -webkit-transform: scale(1.1);
}




h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px white, -1px -1px #333;
    color: orange;
    font-family: 'Roboto', serif;
}

h1 {
    height: 16wv;
    background: linear-gradient(117deg, darkgray,  lightgray 10%, #333 50%, lightgray 80%, lightgray);
    text-align: center;
    color: darkorange;
    /*transform: rotate(-1.7deg);*/
    overflow: hidden;
    padding: 4px;
    border-radius: 8px;
}

.titre2 {
    display: inline-block;
    /*transform: rotate(3.7deg);*/
}

p {
    width: 96%;
    padding: 1%;
    margin: 1% auto;
}

form {
    width: 60%;
    padding: 1%;
    margin: 1% auto;
}
label {
    width: 44%;
}
input, textarea {
    width: 44%;
    float: right;
}
#send {
    width: 44%;
    float: right;
}

.title h1 {
    color: orange;
    width: 100%;
    /*text-transform: capitalize;*/
}
.fond {
    width: 100%;
    min-height: 80px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: linear-gradient(17deg, lightgray, white);
    text-align: center;
    padding-top: 1%;
    width: 100%;
}

.info {
    float: left;
    width: 36vw;
    margin: 1vw;
    padding: 1vw;
}

.clearfloats {
    /*width: 100%;*/
    content: "";
    clear: both;
}

#pied {
    padding: 1%;
    background-color: darkgray;
    color: white;
    width: 100%;
}

.centre {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.important {
    text-shadow: 1px 1px orange;
    font-weight: bold;
}

.rouge {
    color: red;
    text-shadow: 1px 1px black;
}

.deuxcolonnes {
    /*border: 1px dashed #777;*/
}

.deuxcolonnes div {
    float: left;
    width: 49%;
}

.ancre {
    margin-top: 30px;
    padding-top: 30px;
}

pre {
    background-color: lightgray;
    border-radius: 8px;
    padding: 16px;
}

pre code {
    font-family: 'Source Code Pro', monospace;
}
#information {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#legal {
    display: inline;
    width: 160px;
    height: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#blankspace {
    height: 32px;
}

.uk-card {
    border: 1px solid lightgray;
}

#cartes {
    display: flex;
}

.carte {
    border: 1px solid gray;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    width: 25%;
}

#uptop {
    position: fixed;
    right: 8px;
    top: 50vh;
    border: 1px solid gray;
    background-color: bisque;
    font-size: 32px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%; /* Makes it a circle */
  
    /* Centering content inside */
    display: flex;
    justify-content: center;
    align-items: center;
}
